<nav>
  <div class="logo">
    <h1 routerLink="">Ermalo Pictures</h1>
  </div>

  <div class="links">
    <ul>
      <li><a href="#">Movies</a></li>
      <li><a href="#">Event</a></li>
      <li><a href="#">Plays</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Monuments</a></li>
      <li><a href="#">International</a></li>
    </ul>
  </div>

  <div class="user">
    <div class="search">
      <img src="https://img.icons8.com/ios-glyphs/25/000000/search--v1.png"/>
    </div>

<!--    <div class="login" *ngIf="!user">-->
<!--      <h3 routerLink="login">Login</h3>-->
<!--    </div>-->

<!--    <div class="profile" *ngIf="user">-->
<!--      <h3>David</h3>-->
<!--      <div class="profile-picture"></div>-->
<!--    </div>-->

  </div>
</nav>
